---
import Layout from '../layouts/Layout.astro';
import BooksAll from '../components/Books.astro'


---

<Layout>	
	<h1>Bookstore</h1>
	<BooksAll title="Book Title" author="Author Name" />

	
</Layout>