---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Cards.astro";

const API_URL = "http://localhost:1337/api/books";
const API_URL_CAT = "http://localhost:1337/api/categories";

const response = await fetch(API_URL);
const data = await response.json();
const books = data.data;

const responseCat = await fetch(API_URL_CAT);
const dataCat = await responseCat.json();
const cats = dataCat.data;
---

<Layout>
	<section>
		<h2>Books</h2>
		<div class="categories">
			{
				cats.map((cat) => (
					<button class="categories__catBtn">{cat.name}</button>
				))
			}
		</div>
		<div class="card-container">
			{books.map((book) => <Card book={book} />)}
		</div>
	</section>
</Layout>

<style>
	.categories {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	.categories__catBtn {
		background-color: var(--c-green);
		padding: 1rem 2rem;
		border-radius: 4px;
		cursor: pointer;
		transition: background-color 0.2s;
		margin-bottom: var(--s2);
	}

	.categories__catBtn:hover {
		background-color: var(--c-darkgreen);
		color: white;
	}
</style>
