---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Cards.astro";
import AuthorMonth from "../components/Author.astro";
import Collection from "../components/collection.astro";
import fetchApi from "../lib/strapi.js";

// Use fetchApi to fetch data from Strapi
const API_ENDPOINT = "books";
const queryParameters = { populate: "cover" }; // Add query parameters as needed

const data = await fetchApi(
  { endpoint: API_ENDPOINT, query: queryParameters },
  { method: "GET" }
);

const books = data.data;

// Filter books
const bestsellerBooks = books.filter((book) => book.bestseller);
const saleBooks = books.filter((book) => book.sale);
---

<Layout>
  <section class="header">
    <h1>Chanaya's Bookstore</h1>
  </section>

  <section class="bestseller">
    <h2>Bestsellers</h2>
    <div class="card-container">
      {bestsellerBooks.map((book) => <Card book={book} />)}
    </div>
    <a href="/books">Show all books</a>
  </section>

  <section class="authorOfTheMonth">
    <h2>Author of the Month</h2>
    <AuthorMonth />
  </section>

  <section class="onSale">
    <h2>On Sale</h2>
    <div class="card-container">
      {saleBooks.map((book) => <Card book={book} />)}
    </div>
  </section>

  <section class="collections">
    <h2>Collections</h2>
    <Collection />
  </section>
</Layout>



