---
import Layout from "../layouts/Layout.astro";
import AllBooks from "../components/Cards.astro";
import SaleBooks from "../components/Sale.astro";
import AuthorMonth from "../components/Author.astro";
import Collection from "../components/collection.astro";


const API_URL = "http://localhost:1337/api/books";


const response = await fetch(API_URL);
const data = await response.json();
const books = data.data;
---

<Layout>
	<section class="header">
		<h1>Chanaya's bookstore</h1>
	</section>

	<section class="bestseller">
		<h2>Bestsellers</h2>
		<div class="card-container">
			{books.map((book) => (
				<AllBooks book={book} />
			  ))}
		</div>
		<a href="/books" >Show all books</a> 
	</section>

	<section class="authorOfTheMonth">
		<h2>Author of the month</h2>
		<AuthorMonth/>
	</section>

	<section class="onSale">
		<h2>On sale</h2>
		<div class="card-container">
			{books.map((book) => (
				<SaleBooks book={book} />
			  ))}
		</div>
	</section>

	<section class="collections">
		<h2>Collections</h2>
		<Collection />
	</section>

</Layout>