---
import Layout from "../layouts/Layout.astro";
import AllBooks from "../components/Cards.astro";
import AuthorMonth from "../components/Author.astro";


const API_URL = "http://localhost:1337/api/books";


const response = await fetch(API_URL);
const data = await response.json();
const books = data.data; // Array met boekinformatie
---

<Layout>
	<section class="header">
		<h1>Chanaya's bookstore</h1>
	</section>

	<section class="bestseller">
		<h2>Bestsellers</h2>
		<div class="card-container">
			{books.map((book) => (
				<AllBooks book={book} />
			  ))}
		</div>
	</section>

	<section class="author of the month">
		<h2>Author of the month</h2>
		<AuthorMonth/>
	</section>
</Layout>

<!-- <style>
</style> -->
