---
const API_URL = "http://localhost:1337/api/authors";
const IMAGE_BASE_URL = "http://localhost:1337/uploads";

// Fetch de data van de API
const response = await fetch(API_URL);
const data = await response.json();
const authorsData = data.data;

// Vind de auteur met "MonthAuthor" op true
const authorOfTheMonth = authorsData.find((author) => author.MonthAuthor);
---

{
    authorOfTheMonth ? (
        <div class="authorOfTheMonth">
            <div class="author-image">
                {
                    <img
                        src={`${IMAGE_BASE_URL}/${authorOfTheMonth.slug}.jpg`}
                        alt={authorOfTheMonth.name || "No title"}
                    />
                }
            </div>
            <div class="author-content">
                <div class="text">
                    <h2>{authorOfTheMonth.name || "Unknown Author"}</h2>
                    <p>{authorOfTheMonth.bio || "No bio available"}</p>
                </div>
                <button class="read-more">Read More</button>
            </div>
        </div>
    ) : (
        <p>No author of the month found.</p>
    )
}

<style>
    .authorOfTheMonth {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .author-image {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: var(--s3);
    }

    .author-image img {
        width: 80vw;
        height: 40vh;
        object-fit: cover;
        object-position: top center;
    }

    .author-content .text p {
        margin: 0 0 16px;
        color: #666666;
        width: 80%;
    }
</style>
