---
const { book, imageUrl } = Astro.props;
const IMAGE_BASE_URL = "http://localhost:1337/uploads";
if (!book.bestseller) {
  return null;
}
---

<div class="card">
  <div class="card__image">
    <img
      src={`${IMAGE_BASE_URL}/${book.slug}.jpg`}
      alt={book.title || "No title"}
    />
  </div>
  <div class="card_txt">
    <h3>{book.title || "No title"}</h3>
  </div>
  <div class="card__content">
    <p class="card__price">&euro; {book.price || "No Price"}</p>
    <button>Read More</button>
  </div>
</div>

<style>
  .card {
    display: flex;
    flex-direction: column;
    width: 240px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #f0f0f0;
  }

  .card__image {
    background-color: #e7e7e7;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card__image img {
    max-height: 100%;
    width: auto;
  }

  .card__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--s1);
    background-color: white;
  }

  .card_txt h3 {
    margin: auto;
    width: 90%;
    height: 3.3rem;
    text-align: center;
    padding-top: .5rem;
  }

  .card_txt  {
    background-color: white;
  }
</style>
