<footer>
    <p>&copy; Made by Chanaya Ceuterick for the assignment "the collector" for Web3 of Devine</p>
</footer>

<style>
    footer p{
        background-color: var(--c-darkgreen);
        padding: var(--s1) 0;
        text-align: center;
        color: white;
    }
</style>